doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/styles/style.css')

    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/angular/angular.js')
  body
    block content
